body {
  background: #000;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  width: 90%;
  max-width: 400px;
  padding: 30px;
  background: #111;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.3);
  text-align: center;
}

.auth-title {
  font-size: 2em;
  margin-bottom: 10px;
  color: red;
}

.auth-subtitle {
  font-size: 1.2em;
  margin-bottom: 25px;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background: #222;
  color: white;
}

form button {
  width: 100%;
  padding: 12px;
  background: red;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background: #cc0000;
}

.auth-link {
  margin-top: 20px;
  font-size: 0.9em;
  color: #aaa;
}
.video-info-right {
  position: absolute;
  bottom: 280px;
  right: 15px;
  color: white;
  text-align: right;
  z-index: 10;
  text-shadow: 0 0 5px black;
}

.video-info-right .user {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.video-info-right .description {
  font-size: 14px;
  opacity: 0.9;
}
